<mat-card>
    <mat-card-header>
        <img mat-card-avatar src="{{ comment.author.avatar }}" alt="Avatar" />
        <mat-card-title>{{ comment.author.userName }} </mat-card-title>
        <div>{{ comment.createdAt | date: "d/M/yy, h:mm a" }}</div>
    </mat-card-header>
    <mat-card-content>
        <p>{{ comment.body }}</p>
    </mat-card-content>
    <div *ngIf="isUpdate">
        <mat-form-field>
            <textarea
                [(ngModel)]="comment.body"
                matInput
                placeholder="Update"
            ></textarea>
        </mat-form-field>
        <button
            mat-icon-button
            color="primary"
            matTooltip="Send"
            (click)="sendComment()"
        >
            <mat-icon aria-label="Send">send</mat-icon>
        </button>
    </div>
    <mat-card-actions class="actions-buttons" align="end">
        <div *ngIf="authorizedUser?.id === comment.author.id">
            <button (click)="updateComment()" mat-icon-button color="primary">
                <mat-icon aria-label="Edit">build icon</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="deleteComment()">
                <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
        </div>
        <a
            class="liked-list"
            *ngIf="lenLikes() > 0"
            (click)="showAllLikes()"
            href="#"
            >Liked List</a
        >
        <button mat-icon-button color="primary" (click)="likeComment()">
            <mat-icon
                matBadge="{{ lenLikes() }}"
                matBadgeColor="accent"
                matBadgeSize="small"
                [matBadgeHidden]="lenLikes() === 0"
                aria-label="Like"
                >favorite</mat-icon
            >
        </button>
        <button mat-icon-button color="primary" (click)="dislikeComment()">
            <mat-icon
                matBadge="{{ lenDislikes() }}"
                matBadgeColor="accent"
                matBadgeSize="small"
                [matBadgeHidden]="lenDislikes() === 0"
                aria-label="Like"
                >thumb_down</mat-icon
            >
        </button>
        <button mat-icon-button color="accent">
            <mat-icon aria-label="Share">share</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
