<span class="liked-label" (click)="showAllLikes()" *ngIf="likes?.length">
    Liked:
</span>
<div *ngFor="let like of likes">
    <img
        (error)="onImgError($event)"
        mat-card-avatar
        src="{{ like.user.avatar }}"
        alt="{{ like.user.userName }}"
    />
</div>
