<div class="like-row" *ngFor="let like of data">
    <img
        (error)="onImgError($event)"
        mat-card-avatar
        src="{{ like.user.avatar }}"
        alt="{{ like.user.email }}"
    />
    <span>{{ like.user.userName }}</span>
    <span>({{ like.user.email }})</span>
</div>
